
    {# Bouton de navigation #}
    <div class="container">
        <ul>
            <li>
                <div class="styleBtn"><a class="nav-link beige-color font-titre" href="{{ path ('app_seance_new', {'salle':'ULB'}) }}">New Entrainement ULB</a></div>
            </li>
            <li>
                <div class="styleBtn"><a class="nav-link beige-color font-titre" href="{{ path ('app_seance_new', {'salle':'VUB'}) }}">New Entrainement VUB</a></div>
            </li>
        </ul>
    </div>
