{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="">
TEST C
    {# <div id='container1'>
        {{ render (controller ('App\\Controller\\EntrainementController::index')) }}  
    </div>
    <div id='container2'>
        {{ render (controller ('App\\Controller\\UserController::profilUser')) }}  
    </div> #}
</div>
{% endblock %}
