{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="container">
<h2 class="container">{{app.user.prenom}}</h2>
Bonjour
 <pre>
    {{ dump(app.user) }}
</pre>
    {# <div id='container1'>
        {{ render (controller ('App\\Controller\\EntrainementController::index')) }}  
    </div>
    <div id='container2'>
        {{ render (controller ('App\\Controller\\UserController::profilUser')) }}  
    </div> #}
</div>
{% endblock %}
