{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container{ display: flex; width: 800px; height: 80vh; flex-wrap: wrap;}
    .carteJoueur{ border : solid black 1px; border-radius : 15px; margin : 15px; width: 250px; height: 300px; padding : 15px;
            text-align: center;}
    label{font-weight:bold;}</style>

<div class="example-wrapper">
    <h1>Liste Joueurs</h1>

<div class="container">
    {% for user in users %}
        <div class="carteJoueur">
            {# <img src="/KinBallApp/assets/images/CheckNON.png" alt="photo"> #}
            <img src="../../src/dossiersFichier/{{user.photo}}" alt="photo">
        <br>
            <label for="nom">Nom : </label>
            <span id="nom">{{user.nom}}</span>
        <br>
            <label for="prenom">Prénom : </label>
            <span id="prenom">{{user.prenom}}</span>

        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
